*{padding:0;margin:0;}
.clear{ clear: both;}
a{
        color:#343537;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
}
img{
	border:0;
}

body{ 
	width:100%; 
	min-width:1280px;
	background:#fff; 
	color:#343537;
	font:normal normal normal 0.8em/1.5em \5fae\8f6f\96c5\9ed1,Tahoma,Helvetica,'Lucida Grande',Georgia,Verdana;
	font-size:14px;
	text-align:center;
	overflow-x:hidden;
}

.container{
	width:100%; 
	min-width:1280px;
	margin:auto;
}

.header{
	height:100px;
	!background:#6181a6;	
	background: #1d1f21;
}
.header ul{
	padding:30px 50px;
	float:right;
}
.header li{
	float:left;	
	display:block;	
	height:20px;
	margin:0 10px;
	text-align:center;
}
.header li a{	
	font-size:18px;
	color:#FFF;
}

.topPage{
	width:100%;
	height:400px;
	color:#FFF;
	font-size:18px;
	!background:#6181a6;	
	background: #1d1f21;
}

.topPage .logo,.topPage .errorPage{
	padding-top:100px;
	width:500px;
	height:100px;
	margin:auto;
}

.topPage .joinUs p,.topPage .joinUs li{
	width: 1em;
}

.blank{
	width:1em;
	height:15px;
	display:block;
}

.teamTitle{
	background:url("./img/e-factory.png") no-repeat;
	width:100px;
	height:300px;	
	float:right;
	margin:20px 150px 0px 150px;

	/* CSS ��ת
	-moz-transform: rotate(90deg); // FF3.5+
	-o-transform: rotate(90deg); // Opera 10.5 
	-webkit-transform: rotate(90deg); // Saf3.1+, Chrome 
	*/
}
.joinUs{
	float:right;
}
.joinUs ul{	
	margin-right:30px;	
	float:right;
}
.joinUs li{
	padding:10px;
	list-style:none;
	display:block;
	float:right;
}

.bottomPage{
	clear:both;
	height:100px;
	padding:20px 0 0 170px;	
	text-align:left;		
}

.invite{
	float:right;
	margin-right:150px;
	width:150px;
	height:150px;
	position:relative;
	overflow:hidden;
}
.invite .qrcode{
	width:100px;
	height:100px;
}

.teamInfo p{
	margin-top:30px;
}
.footer{
	padding:50px 0 0 0px;	
	text-align:left;
	font-size:12px;
}

/********** members ************/
.members{
	width:1250px;
	margin:auto;
}

.members .aBox{
	display:block;
	position:relative;
	width:100px;
	height:100px;
	overflow:hidden;
}
.members .aBox img{
	width:100px;
	height:100px;
	position:absolute;	
	top:0;
	left:0;
	z-index:1;
}

.members .aBox	.memberInfo{
	font-size:12px;
	text-align:left;
	padding:5px;
	width:100px;
	height:100px;
	position:absolute;
	top:0;
	left:0;	
	z-index:100;	
	background:#fff;
	filter: alpha(opacity=0.2);
	-moz-opacity: 0.2;
	-khtml-opacity: 0.2;
	opacity: 0.2;
	padding-left:220px;
}

.members .aBox	.memberInfo:hover{
	padding-left:5px;
	filter: alpha(opacity=0.7);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;	
}

.members .aBox	.memberInfo h4{
	width:90px;
	border-bottom: 1px solid #f0f0f0;

}

.members .aBox	.memberInfo p{
	width:90px;
}

.members li{
	width:100px;
	height:100px;
	margin:0 5px 5px 0;
	list-style:none;
	float:left;	
	display:block;
}
.members .li_style_1,.members .li_style_1 .aBox,.members .li_style_1 .aBox img,.members  .li_style_1 .aBox .memberInfo{
	width:150px;
	height:100px;
}
.li_style_1 .aBox .memberInfo h4,.li_style_1 .aBox  .memberInfo p{
	width:140px;
}

.members .li_style_2,.members .li_style_2 .aBox,.members .li_style_2 .aBox img,.members .li_style_2 .aBox .memberInfo{
	width:205px;
	height:200px;
	margin-bottom:-100px;
}
.li_style_2 .aBox .memberInfo h4,.li_style_2 .aBox  .memberInfo p{
	width:195px;
}
.members .li_style_3,.members .li_style_3 .aBox,.members .li_style_3 .aBox img,.members .li_style_3 .aBox .memberInfo{
	width:100px;
	height:205px;
	margin-bottom:-100px;
}

/********** Projects **************/
.projects{
	width:100%;
	height:400px;
	overflow:scroll;
	overflow-x:scroll;
	overflow-y:hidden;
}
.projects ul{
	width:4000px;
	height:400px;
}

.projects li{	
	width:800px;
	height:380px;
	display:block;
	float:left;
	list-style:none;
	text-align:center;
}

.projects li .aBox{
	width:700px;
	height:380px;
	position:relative;
}

.projects li img{
	width:700px;
	height:380px;	
}

.projects li .projectInfo{
	font-size:14px;
	color:#fff;
	text-align:left;
	position:absolute;
	bottom:5px;
	left:0;
	padding-left:20px;
	height:70px;
	width:680px;
	background:#000;
	filter: alpha(opacity=0.4);
	-moz-opacity: 0.4;
	-khtml-opacity: 0.4;
	opacity: 0.4;
}

	









